<!DOCTYPE html>
<html>
<head>
    <title>Matrix Multiplication</title>
</head>
<body>
    <h1>Enter Two 2x2 Matrices</h1>
    <form action="/multiply" method="post">
        <h3>Matrix A</h3>
        <input name="a11"> <input name="a12"><br>
        <input name="a21"> <input name="a22"><br><br>

        <h3>Matrix B</h3>
        <input name="b11"> <input name="b12"><br>
        <input name="b21"> <input name="b22"><br><br>

        <input type="submit" value="Multiply">
    </form>
</body>
</html>
